services:
  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - polls_pg_data:/bitnami/postgresql

  pgadmin:
    image: "dpage/pgadmin4"
    env_file:
      - .env

    ports:
      - "5050:80"
volumes:
  polls_pg_data:
