spring:
  application: name=Healthx

  datasource:
    url: jdbc:postgresql://localhost:5432/healthX
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
